.link {
    stroke: rgb(101, 101, 101);
    stroke-width: 1.5px;
}

.node {
    cursor: grab;
    fill: #e0e1dd;
    stroke: rgb(64, 64, 64);
    stroke-width: 1.5px;
}

text {
    stroke: white;
}

.node > text {
    stroke: black;
}
.graph {
    background-color: #1b263b;
}
